{% extends 'base.html' %}

{% block content %}

<h1>Рейсы</h1>

<form method="GET" class="mb-3">

    <input type="text" name="search" placeholder="Поиск города" class="form-control">

</form>

<div class="row">

{% for flight in flights %}

    <div class="col-md-6 mb-3">

        <div class="card p-3">

            <h4>
                {{ flight.departure_airport.city }} → {{ flight.arrival_airport.city }}
            </h4>

            <p>Авиакомпания: {{ flight.airline }}</p>

            <p>Цена: ${{ flight.price }}</p>

            <a href="/flights/{{ flight.id }}/" class="btn btn-primary">
                Подробнее
            </a>

        </div>

    </div>

{% empty %}

    <p>Рейсы не найдены</p>

{% endfor %}

</div>

{% endblock %}
