{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">✈ Рейсы</h2>

<form method="GET" class="mb-4">
    <input type="text" name="search" class="form-control" placeholder="Поиск города...">
</form>

<div class="row">

    {% for flight in flights %}

    <div class="col-md-6 mb-3">

        <div class="card p-3">

            <h5>
                {{ flight.departure_airport.city }} → {{ flight.arrival_airport.city }}
            </h5>

            <p>💰 Цена: {{ flight.price }}</p>

            <div class="d-flex gap-2">

                <a href="/flights/{{ flight.id }}/" class="btn btn-primary">
                    Подробнее
                </a>

                <a href="/flights/{{ flight.id }}/book/" class="btn btn-success">
                    Забронировать
                </a>

            </div>

        </div>

    </div>

    {% empty %}
        <p>Рейсов нет</p>
    {% endfor %}

</div>

{% endblock %}

<form method="GET" class="mb-4">

    <input
        type="text"
        name="search"
        placeholder="Введите город назначения"
        class="form-control">

</form>

<form method="GET" class="mb-4 p-3 card">

    <div class="row">

        <div class="col-md-3">
            <input name="departure" class="form-control" placeholder="Откуда">
        </div>

        <div class="col-md-3">
            <input name="arrival" class="form-control" placeholder="Куда">
        </div>

        <div class="col-md-3">
            <select name="sort" class="form-control">
                <option value="">Сортировка</option>
                <option value="cheap">Сначала дешёвые</option>
                <option value="expensive">Сначала дорогие</option>
            </select>
        </div>

        <div class="col-md-3">
            <button class="btn btn-primary w-100">Поиск</button>
        </div>

    </div>

</form>
