{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">✈ Доступные рейсы</h2>

<div class="row">

    {% for flight in flights %}

    <div class="col-md-4">

        <div class="card p-3 mb-3 shadow-sm">

            <h5>
                {{ flight.origin }} → {{ flight.destination }}
            </h5>

            <p>💰 Цена: <b>{{ flight.price }}</b></p>

            <p>🛫 Рейс ID: {{ flight.id }}</p>

            <button class="btn btn-primary w-100"
                    onclick="openBookingModal({{ flight.id }})">
                Забронировать
            </button>

        </div>

    </div>

    {% endfor %}

</div>


<h2 class="mb-4">✈ Рейсы</h2>

<div class="row">

{% for flight in flights %}
<div class="col-md-4 mb-3">

    <div class="card p-3 shadow-sm">

        <h5>{{ flight.origin }} → {{ flight.destination }}</h5>

        <p>💰 {{ flight.price }}</p>

        <button class="btn btn-primary w-100"
                onclick="openBookingModal({{ flight.id }})">
            Забронировать
        </button>

    </div>

</div>
{% endfor %}

</div>

{% endblock %}
