{% extends 'base.html' %}

{% block content %}

<h1 class="section-title">
    Flight Reservations
</h1>

<div class="card shadow-sm border-0">

    <div class="card-body p-4">

        <table class="table table-hover">

            <thead>

                <tr>

                    <th>User</th>
                    <th>Flight</th>
                    <th>Seat</th>
                    <th>Status</th>

                </tr>

            </thead>

            <tbody>

                {% for booking in bookings %}

                <tr>

                    <td>
                        {{ booking.user.username }}
                    </td>

                    <td>
                        {{ booking.flight }}
                    </td>

                    <td>
                        {{ booking.seat_number }}
                    </td>

                    <td>
                        {{ booking.status }}
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}
